{% extends "base.njk" %}
{% block content %}
 <link rel="stylesheet" href="{{ '/assets/css/calculator.css' | url }}"/>
    <!-- Hero Section -->
    <section class="site-hero calculator-hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div
                        id="roiCalculatorApp" class="bg-white rounded-lg overflow-hidden mb-5">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ '/assets/js/roi-calculator.js' | url }}"></script>
{% endblock %}
{% block workTogether %}{% endblock %}